@use "sass:map";
@use "../../../assets/styles/theme.scss";

.container {
  width: 768px;
  padding: 10px 0;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 20px;
  font-size: 36px;
}

.title {
  width: 256px;
  height: 60px;
  border-radius: 32px;
}
.pages {
  width: 128px;
  height: 30px;
  border-radius: 32px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: map.get(theme.$theme, outline);
}
a {
  color: map.get(theme.$theme, secondary);
  text-decoration: none;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.activeLink {
  color: map.get(theme.$theme, onSecondary);
  background-color: map.get(theme.$theme, secondary);
  border-color: map.get(theme.$theme, secondary);
}
