<div class="container">
  <div class="header">
    <a mat-flat-button routerLink="/about" routerLinkActive="activeLink" class="title relief">Léo A.D.A</a>
  </div>
  <div class="nav">
    <a mat-flat-button routerLink="/logbook" routerLinkActive="activeLink" class="link relief">Logbook</a>
    <a mat-flat-button routerLink="/blog" routerLinkActive="activeLink" class="link relief">Blog</a>
    <a mat-flat-button routerLink="/cv" routerLinkActive="activeLink" class="link relief">CV</a>
  </div>
</div>