<script>
    
    var elements = document.querySelectorAll('p');
    Array.prototype.forEach.call(elements, function(el, i){
        if(el.innerHTML=='[expand]') {
			console.log(el);
			console.log(el.parentNode);
            var parentcontent = el.parentNode.innerHTML.replace('<p>[expand]</p>','<details><summary style="cursor: pointer;">Plus d\'information</summary>').replace('<p>[/expand]</p>','</details>');
            el.parentNode.innerHTML = parentcontent;
        }
    });

	var elementsd = document.querySelectorAll('details');
	Array.prototype.forEach.call(elementsd, function(el, i){
        var cDiv = el.children;
		for (var i = 0; i < cDiv.length; i++) {
				cDiv[i].style.marginBottom = '0px';
				cDiv[i].style.fontStyle = 'italic'; 			
			}
    });
</script>