<script>
    
    const section = document.getElementsByTagName("section")[0];
	section.innerHTML = section.innerHTML.replaceAll('<p>[expand]</p>','<details class="expand"><summary style="cursor: pointer;">Plus d\'information</summary>').replaceAll('<p>[/expand]</p>','</details>');
	section.innerHTML = section.innerHTML.replaceAll('<p>[expand-category]</p>','<details class="expand-category"><summary style="cursor: pointer;">Plus d\'information</summary>').replaceAll('<p>[/expand-category]</p>','</details>');
	

	var elementsd = document.querySelectorAll('details.expand');
	Array.prototype.forEach.call(elementsd, function(el, i){
		el.style.marginBottom = '20px';
        var cDiv = el.children;
		for (var i = 0; i < cDiv.length; i++) {
				cDiv[i].style.marginBottom = '0px';
				cDiv[i].style.fontStyle = 'italic'; 			
			}
    });

	var elementsd = document.querySelectorAll('details.expand-category');
	Array.prototype.forEach.call(elementsd, function(el, i){
		el.style.marginBottom = '20px';
		el.style.paddingBottom = '15px';
        /*
		var cDiv = el.children;
		for (var i = 0; i < cDiv.length; i++) {
				cDiv[i].style.marginBottom = '0px'; 			
			}
		*/
    });


	
</script>