<script>
    
    const section = document.getElementsByTagName("section")[0];
	section.innerHTML = section.innerHTML.replaceAll('<p>[expand]</p>','<details><summary style="cursor: pointer;">Plus d\'information</summary>').replaceAll('<p>[/expand]</p>','</details>');
	
	var elementsd = document.querySelectorAll('details');
	Array.prototype.forEach.call(elementsd, function(el, i){
        var cDiv = el.children;
		for (var i = 0; i < cDiv.length; i++) {
				cDiv[i].style.marginBottom = '0px';
				cDiv[i].style.fontStyle = 'italic'; 			
			}
    });
</script>