@use "sass:map";
@use "../../../assets/styles/theme.scss";

.card-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 10px;
  border: solid;
  border-color: map.get(theme.$theme, outline);
  border-radius: 16px;
  cursor: pointer;
}

.card-title {
  color: map.get(theme.$theme, onSurface);
  font-size: 20px;
}

.card-bottom {
  margin-top: auto;
}

.card-subtitle,
.card-date {
  color: map.get(theme.$theme, onSurfaceVariant);
  font-size: 16px;
}
