@use "sass:map";
@use "../assets/styles/theme.scss";

.container {
  width: 768px;
  // border-radius: 16px;
  // border: solid;
  // border-color: map.get(theme.$theme, outline);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
