
//  https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '../_theme-colors' as theme;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: 'Noto Sans',
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
