@use "sass:map";
@use "./assets/styles/theme.scss";
@import "./assets/styles/fonts.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Luciole", sans-serif;
  background-color: map.get(theme.$theme, surface);
}

p {
  margin: 0 auto;
}

a {
  color: map.get(theme.$theme, primary);
  text-decoration: none;
}
