@use "sass:map";
$theme: (
  primary: #3e6837,
  surfaceTint: #3e6837,
  onPrimary: #ffffff,
  primaryContainer: #bff0b1,
  onPrimaryContainer: #002201,
  secondary: #53634e,
  onSecondary: #ffffff,
  secondaryContainer: #d6e8cd,
  onSecondaryContainer: #111f0f,
  tertiary: #386569,
  onTertiary: #ffffff,
  tertiaryContainer: #bcebef,
  onTertiaryContainer: #002022,
  error: #ba1a1a,
  onError: #ffffff,
  errorContainer: #ffdad6,
  onErrorContainer: #410002,
  background: #f8fbf1,
  onBackground: #191d17,
  surface: #f8fbf1,
  onSurface: #191d17,
  surfaceVariant: #dfe4d8,
  onSurfaceVariant: #42493f,
  outline: #73796e,
  outlineVariant: #c2c8bc,
  shadow: #000000,
  scrim: #000000,
  inverseSurface: #2e322b,
  inverseOnSurface: #eff2e8,
  inversePrimary: #a4d397,
  primaryFixed: #bff0b1,
  onPrimaryFixed: #002201,
  primaryFixedDim: #a4d397,
  onPrimaryFixedVariant: #275021,
  secondaryFixed: #d6e8cd,
  onSecondaryFixed: #111f0f,
  secondaryFixedDim: #bbccb2,
  onSecondaryFixedVariant: #3c4b37,
  tertiaryFixed: #bcebef,
  onTertiaryFixed: #002022,
  tertiaryFixedDim: #a0cfd3,
  onTertiaryFixedVariant: #1e4d51,
  surfaceDim: #d8dbd2,
  surfaceBright: #f8fbf1,
  surfaceContainerLowest: #ffffff,
  surfaceContainerLow: #f2f5eb,
  surfaceContainer: #ecefe5,
  surfaceContainerHigh: #e6e9e0,
  surfaceContainerHighest: #e0e4da,
);
